<footer id="sticky-footer" class="py-1 bg-dark text-white ">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Elli", "https://github.com/ellipapaioannou1", class: "text-white" %></small>
  </div>
</footer>

